body{
    background-color: #B57F50;
    font-family:sans-serif
}

.cat {
    background-color:#B4D2BA;
    margin: 0.5em;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid #8ED081;
    flex: 1;
}


@media (min-width : 960 px) {
    cats{
        display: flex;
    }
}

fieldset{
     margin: 1em;
     border: 0;
}
 button{
    padding: 1em;
    border: 3px solid;
    border-radius: 0.5em;
 }

 input{
    padding: 1em;
 }